.img-fluid {
    width: 40%;
}

.home {
    background-image: url("images/loan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

@keyframes myanime {
    100% {
        opacity: 0;
    }

    0% {
        opacity: 50%;
    }

}

@media (max-width:600px) {

    .mainp {
        font-size: 8px;
    }

    .inputs {
        display: flex;
        flex-direction: column;

    }

    .result {
        display: flex;
        flex-direction: column;
    }

}